@charset "UTF-8";
/* CSS Document */


html { font-size: 1.4vw }
body { font-size: 5rem }


body, html {
	background: yellow
}



video {
    position: fixed;
	top: 7rem;
    right: 10rem;
    margin: 0rem;
    height: calc(80% - 5rem);
    width: calc(80% - 5rem);
    box-sizing: contain;
	
}
	

.text {
	padding-right: 30rem;
	z-index: 2;
	position: relative;
	color: teal;
	top: 15rem;
	bottom: center;
	left: 20rem;
}

.audio {
	padding-top: 15rem;
	padding-left: 50rem;
	z-index: 3;
	position: relative;
	}

.image {
	padding-top: 10rem;
	padding-left: 40rem;
	z-index: 3;
	position: relative;
	}

}
